/* Based on template from csslayoutgenerator.com */

body {    font-family: 'Montserrat', sans-serif;
  
}

strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 
}

h1 {text-align: center;
   font-weight: bold; 
    font-size: 3em;  
}

p{text-align: center;
   font-size: 1em;
    line-height: 1.3em;
}

h2 {text-align: center;
    font-weight: bold; 
    font-size: 1.7em;  
}

#wrapper {
  max-width: 100%;
  margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/

header {
  height: 4em;
  background-color: white;
  padding: 1%;
}

#logo {width: 90%;
    grid-area:left;
    padding-top: 3%;
}

#burger {width: 110%;
         padding-right:13%;
         padding-top:20%;
}

#top { display: grid;
       grid-template-areas:
       'left left right';
       padding-left: 3%;
       padding-right:  3%;
}

.dropdown {
    position: relative;
    display: inline-block;
    grid-area:right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 58vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translateX(-86%);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

nav {
  text-align: right;

}

li { display: inline;
}


/* Middle
-----------------------------------------------------------------------------*/

#myVideo {
    position: relative;
    text-align: center;
    overflow: hidden;
    height:100vh;
}

.video {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    height: 100%;
    
}
video{
    height:100%;
    transform: translateX(-50%);
}

.source{
    height: 100%
}

#quali{
    margin-top: 60%;
}

#story{padding: 5%;
       margin-top: 3%;
}

#launch{
    margin-top: 7%;
}

#clockdiv{display:flex;
         justify-content: space-between;
         margin-left: 6%;
         margin-right: 6%;
    
         
}

#clockdiv > div{
   margin-top: 5%;
    background-color: white;
    display: inline-block;
    text-align: center;
    
}

#clockdiv div > span{
    color: #337bb3;
    font-weight: bolder;
    display: inline-block;
    
}

.smalltext{
    padding-top: 2%;
    font-size: 0.7em;
    color: #c71441;
}

hr {width: 2.3em;
    
}

#email {text-align: center;
    padding-bottom: 2%;
}
#mail {text-decoration: none;
       font-size: 0.7em;  
       color: black;       
}
#contact {font-size: 2em;
          padding-bottom: 2%;
          margin-top: 5%;
}

#welcome {margin-top: 2%;
          
}

#community {font-size:2em; 
            margin-top: 5%;
            margin-bottom: 8%;
            margin-left: 2%;
            margin-right: 2%;
}



#intro {background-color: #337bb3;
        color: white;
        padding-top: 7%;
        padding-bottom:7%;
}


.page2 {padding: 3%;
}

.review {font-size: 0.8em;
}

#How {margin-top: 8%;
}

#features {margin-top: 8%;
           background-color: #337bb3;
           color: white;
           text-align: center;
           padding-bottom: 4%;
}
#sign {margin-bottom: 8%;
       padding-top: 8%;       
}

#blue {text-align: center;}

.icons {
    color: white;
    margin-top: 8%;    
}



.i {
    font-weight: bold;    
}

.fas { margin-right:4%;
       font-size: 1.4em;    
}

#keep {margin-top: 8%;
       text-align: center;    
}

#subscribe {margin-top: 5%;
            margin-bottom: 5%;
}

h4 {margin: auto;
    margin-top: 4%;
    border:1px inset; 
    border-radius: 12px;
    max-width: 50%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

button {background-color:#c71441;
        color: white;
        border-radius: 12px;
        width: 50%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin-top: 2%;
    
}

#wait { padding: 4%;
    
}

#app {max-width: 95%;
      margin-top: 8%;
      margin-bottom: 8%;
      padding-left: 3%;
    }

.download {max-width: 50%;
           padding-bottom: 8%;
           display: block;
           margin-left: auto;
           margin-right: auto;
          
}
#google {max-width: 49%;}

/* Footer
-----------------------------------------------------------------------------*/

footer {
  height: auto;
  padding-top: 2%;
  font-size: 0.6em;
  padding-bottom: 3%;
  
}

/*Here goes Social Media*/
.social-buttons {text-align: center;
padding-left: 2%;
padding-bottom: 2%;
}


.social-btn {font-size: 3em;
padding-right: 0.5em;
text-align: center;
color: #337bb3;
}